body {
    margin: 0 auto;
    font-family: 'Roboto', sans-serif;
    text-align: center;
    background-image: url("../images/food-2879265_1920.jpg");
    background-attachment: fixed;
    background-size: cover;
    background-position: top;
    /* background-position: center; */
    /* background-repeat: no-repeat; */ */
   
     
}

.gif {
    height: 200px;
    width: 300px;
    text-align: center;
    border: #c4c4c4;
    border-style: solid;
    border-width: 1px;
    margin: 0px 10px 0px 10px;
    padding: 5px;
}

h1 {
    font-size: 80px;
    font-weight: 500;
    text-align: center;
    margin-top: 35px;
    margin-bottom: 25px;
    color: rgb(46, 46, 46);
    /* font-family: 'Fascinate Inline', cursive; */
    /* font-family: 'Bowlby One SC', cursive; */
    font-family: 'Boogaloo', cursive;
    /* font-family: 'Paprika', cursive; */
    /* 
font-family: 'Bangers', cursive;
font-family: 'Architects Daughter', cursive;
font-family: 'Bowlby One SC', cursive;
font-family: 'Oregano', cursive;
font-family: 'Vast Shadow', cursive;
font-family: 'Crushed', cursive;
font-family: 'Paprika', cursive;
font-family: 'Ribeye', cursive;
font-family: 'Fascinate Inline', cursive;
font-family: 'Glass Antiqua', cursive;
font-family: 'Monofett', cursive;
font-family: 'Zilla Slab Highlight', cursive;
font-family: 'Ribeye Marrow', cursive; */
}

label {
    font-size: 26px;
    font-weight: bold;
    padding-top: 2px;
    color: rgb(46, 46, 46);
}
.container {
    margin-bottom: 50px;
}

h3 {
    font-size: 20px;
    font-weight: 500;
    text-align: center;
}

.gifInfoContent {
    text-align: center;
    background-color: white;
    display: inline-block;
    border: #ffffff;
    border-style: solid;
    border-radius: 5px;
    border-width: 3px;
    padding: 4px;
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.384), 0 6px 20px 0 rgba(0, 0, 0, 0.363);
    margin: 10px 10px 25px 10px;
    cursor: pointer;
    -webkit-transition-duration: 0.4s; /* Safari */
    transition-duration: 0.4s;
    max-width: 75%;
}

.gifInfoContent:hover {
    box-shadow: 0 4px 10px 0 rgba(0,0,0,0.4), 0 3px 15px 0 rgba(0,0,0,0.30);
    opacity: .75;
    border-color: #52f3cb;
    border-radius: 5px;
    border-width: 3px;

}

#add-food {
    
    background-color: #cecece;
    padding: 5px 10px 5px 10px;
    /* box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
    margin: 5px;
    cursor: pointer;
    -webkit-transition-duration: 0.4s; /* Safari */
    transition-duration: 0.4s; 
    font-size: 18px;
    font-weight: 600;

}

#food-input {
    
    padding: 5px;
    height: 20px;
    font-size: 18px;
    font-weight: 500;
}

.btn {
   
    margin: auto;
    border-radius: 3px;
    border-width: .5px;
    background-color: #49f7cb;
    border: white;
    border-style: solid;
    padding: 10px 20px 10px 20px;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
    margin: 5px;
    cursor: pointer;
    -webkit-transition-duration: 0.4s; /* Safari */
    transition-duration: 0.4s;
    font-size: 20px;
    font-weight: 500;
}

.btn:hover {
    box-shadow: 0 4px 10px 0 rgba(0,0,0,0.4), 0 3px 15px 0 rgba(0,0,0,0.30);
    opacity: .75;
    /* border-color: #52f3cb;
    background-color: white;
    color: black;
    border-radius: 2px;
    border-width: 1px;
    border-style: solid;
    padding: 10px 20px 10px 20px;
    margin: 5x; */
}
