button {
    position: relative;
    margin: auto;
    border-radius: 6px;
    background-color: #52f3d8;
    border: white;
    border-style: solid;
    padding: 10px 20px 10px 20px;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
    margin: 5px;
    cursor: pointer;
    -webkit-transition-duration: 0.4s; /* Safari */
    transition-duration: 0.4s;
    font-size: 20px;
    font-weight: 600;
}