body {
    margin: 0 auto;
}

img {
    height: 200px;
    width: 250px;
    border-radius: 4px;
    border: #333333;
    border-style: solid;
}

.gifInfoContent {
    display: inline-block;
}

.button-primary {
    position: relative;
    margin: auto;
    border-radius: 6px;
    background-color: #52f3d8;
    border: white;
    border-style: solid;
    padding: 10px 20px 10px 20px;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
    margin: 5px;
    cursor: pointer;
    -webkit-transition-duration: 0.4s; /* Safari */
    transition-duration: 0.4s;
    font-size: 20px;
    font-weight: 600;
}

.btn {
    position: relative;
    margin: auto;
    border-radius: 6px;
    background-color: #52f3d8;
    border: white;
    border-style: solid;
    padding: 10px 20px 10px 20px;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
    margin: 5px;
    cursor: pointer;
    -webkit-transition-duration: 0.4s; /* Safari */
    transition-duration: 0.4s;
    font-size: 20px;
    font-weight: 600;
}

button {
    position: relative;
    margin: auto;
    border-radius: 6px;
    background-color: #52f3d8;
    border: white;
    border-style: solid;
    padding: 10px 20px 10px 20px;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
    margin: 5px;
    cursor: pointer;
    -webkit-transition-duration: 0.4s; /* Safari */
    transition-duration: 0.4s;
    font-size: 20px;
    font-weight: 600;
}

.button {

        position: relative;
        margin: auto;
        border-radius: 6px;
        background-color: #52f3d8;
        border: white;
        border-style: solid;
        padding: 10px 20px 10px 20px;
        box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
        margin: 5px;
        cursor: pointer;
        -webkit-transition-duration: 0.4s; /* Safari */
        transition-duration: 0.4s;
        font-size: 20px;
        font-weight: 600;
    }

/* #buttons-view {
    
        position: relative;
        margin: auto;
        border-radius: 6px;
        background-color: #52f3d8;
        border: white;
        border-style: solid;
        padding: 10px 20px 10px 20px;
        box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
        margin: 5px;
        cursor: pointer;
        -webkit-transition-duration: 0.4s; /* Safari */
        transition-duration: 0.4s;
        font-size: 20px;
        font-weight: 600;
    
} */